.chatOnline-friend {
  display: flex;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 10px;
}

.chatOnline-img__container {
  position: relative;
  border: 1px solid white;
}

.chatOnline-img {
  width: 32px;
  height: 32px;
  border-radius: 100rem;
  object-fit: cover;
  margin-right: 10px;
}

.chatOnline-badge {
  width: 10px;
  height: 10px;
  border-radius: 100rem;
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: chartreuse;
}
